body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.header {
    text-align: center;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    color: white;
    background-size: 1500px 1000px;
    margin-bottom: 100px;
}

.header h1 {
    font-size: 40px;

}

.header button {
    color: white;
    margin: 20px;
    background-color: rgb(237, 130, 130);
    height: 40px;
    font-size: 20px;


}

.second-section {
    text-align: center;
    margin-bottom: 50px;
}

.third-part {
    display: flex;
    justify-content: space-evenly;
    color: rgb(138, 116, 116);
    padding: 30px;
}

.extra {
    border: 2px solid pink;
    color: black;
    background-color: rgb(189, 150, 150);
    padding: 40px;
}

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.first-section {
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
    padding-left: 10%;
    align-items: center;
}

.one {
    width: 50%;
    padding-left: 10px;
    margin-bottom: 30px;
}

.one img {
    width: 80%;
    padding-top: 8px;
    border-radius: 5px;
}

.one button {
    background-color: salmon;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 200;
}

.two button {
    background-color: salmon;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 200;
    margin-top: 30px;
}

.two {
    text-align: center;
    margin-bottom: 30px;
}